[Unit]
Description=Generate the cache filesystems for beter performances
After=network.target
ConditionPathExists=/usr/bin/oh

[Service]
Type=oneshot
ExecStart=/usr/bin/oh --cache
Restart=always
 
[Install]
WantedBy=default.target