[Unit]
Description=Regenerate the files caches for arch
After=network.target
ConditionPathExists=/usr/bin/arch

[Service]
Type=oneshot
ExecStart=/usr/bin/arch --cache
Restart=always
 
[Install]
WantedBy=default.target
