[Desktop Entry]
Type=Application
Version=1.0
Name=Arch
GenericName=Arch
Comment=Upgrade the system and boxes
Path=/tmp
Exec=/usr/bin/arch --setup
Icon=Arch
StartupWMClass=Arch
Terminal=true