[Unit]
Description=Search packages updates
After=network.target
ConditionPathExists=/usr/bin/check-updates

[Service]
Type=oneshot
ExecStart=/usr/bin/check-updates
Restart=true

[Install]
WantedBy=graphical.target
