[Unit]
Description=Regenerate the packages lists for arch
After=network.target
ConditionPathExists=/usr/bin/arch
 
[Service]
Type=oneshot
ExecStart=/usr/bin/gen-pkgs-cache
Restart=true
 
[Install]
WantedBy=default.target
