[Desktop Entry]
Type=Application
Version=1.0
Name=Gemini
Comment=Chat with gemini
Path=/tmp
Exec=/usr/bin/oh --chat
Icon=Gemini
StartupWMClass=Gemini
Terminal=true
