[Desktop Entry]
Type=Application
Version=1.0
Name=Oh
Comment=Manage archlinux
Path=/tmp
Exec=/usr/bin/oh setup
Icon=oh
StartupWMClass=Oh
Terminal=true